<html>

  <head>
    <meta charset="utf-8" />
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
      }

      a {
        text-decoration: none;
        color: white;
      }

      span {
        color: white;
      }

      h1 {
        color: white;
        background-color: #030852;
        height: 60px;
        text-align: center;
        padding: 15px;
        box-sizing: border-box;
      }

      footer {
        background-color: #030852;
        height:
          60px;
        text-align: center;
        padding: 20px;
        box-sizing: border-box;
      }

      h2 {
        color: #2F54EB;
      }

      h3 {
        height: 25px;
        color: #1890FF;
      }

      p {
        margin-bottom: 10px;
        color: black;
      }

      .item {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 20px;
      }

      .item h3 {
        margin: 0;
        color: #1890FF;
      }

      .item img {
        width: 100px;
        height: 100px;
        margin-right: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        object-fit: cover;
      }

      .imgTitle {
        display: inline-block;
      }

      .footerSpacing {
        margin-right: 10px;
      }

    </style>

  </head>

  <body>
    <h1>Lista do Orçamento</h1>
    <h2>Dados do Cliente:</h2>
    <p>
      <strong>Nome:</strong>
      {{name}}<br />
      <strong>E-mail:</strong>
      {{toEmail}}<br />
      <strong>Endereço:</strong>
      {{address}}<br />
      <strong>Código Postal:</strong>
      {{zipCode}}<br />
      {{#if message}}
        <strong>Mensagem:</strong>
        {{message}}<br />
      {{/if}}
    </p>
    <h2>Itens do Orçamento:</h2>
    {{#each budgets}}
      <div class="item">
 <h3>{{productName}}</h3>
        <table>
          <tr>
                        <td>
               <img src="{{mainImage}}" alt="{{productName}}" />
            </td>
            <td>
              <p><strong>Referencia:</strong> {{reference}}</p>
              <p><strong>Quantidade:</strong> {{quantity}}</p>
              {{#each properties}}
                <p>
                    <strong>{{propertyName}}:</strong>
                    {{propertyValue}}
                  </p>
                {{/each}}
            </td>
          </tr>
        </table>
      </div>
    {{/each}}
    <footer>
        <a class="footerSpacing" href="mailto:geral@tresbrinde.com">geral@tresbrinde.com</a>
        <a class="footerSpacing" href="https://www.facebook.com/people/Tr%C3%AAs-Brinde-Publicidade/100067500792458/">
          Três Brinde Publicidade
        </a>
        <span class="footerSpacing" >919 923 334</span>
        <span class="footerSpacing" >224 898 322</span>
    </footer>
  </body>

</html>
