<html>

<head>
    <meta charset="utf-8">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }

        h1 {
            color: #333;
        }

        h2 {
            color: #555;
        }

        p {
            margin-bottom: 10px;
        }

        ul {
            margin-top: 0;
            padding-left: 20px;
        }

        li {
            margin-bottom: 5px;
        }

        .item {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 20px;
        }

        .item h3 {
            margin: 0;
            color: #333;
        }

        .item img {
            max-width: 100px;
            max-height: 100px;
            margin-right: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <h1>Lista do Orçamento</h1>
    <h2>Dados do Cliente:</h2>
    <p>
        <strong>Nome:</strong> {{name}}<br>
        <strong>E-mail:</strong> {{toEmail}}<br>
        <strong>Endereço:</strong> {{address}}<br>
        <strong>Código Postal:</strong> {{zipCode}}<br>
        {{#if message}}
        <strong>Mensagem:</strong> {{message}}<br>
        {{/if}}
    </p>
    <h2>Itens do Orçamento:</h2>
    {{#each budgets}}
    <div class="item">
        <h3>{{productName}}</h3>
        {{#if mainImage}}
        <img src="{{mainImage}}" alt="{{productName}}">
        {{/if}}
        <p><strong>Quantidade:</strong> {{quantity}}</p>
        <p><strong>Propriedades:</strong></p>
        <ul>
            {{#each properties}}
            <li>{{propertyName}}: {{propertyValue}}</li>
            {{/each}}
        </ul>
    </div>
    {{/each}}
</body>

</html>